@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;

.page {
  background-color: $bgColorPage;
  height: 100vh;
}
.drivingContainer {
  display: flex;
  width: 100%;
  height: 933px;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}
.pictureLeft,
.pictureRight {
  height: 100%;
  background-image: -webkit-image-set(
    url("../../assets/CarMainFull.webp") 1x type("image/webp"),
    url("../../assets/CarMainFull_2x.webp") 2x type("image/webp"),
    url("../../assets/CarMainFull_3x.webp") 3x type("image/webp"),
    url("../../assets/CarMainFull.png") 1x type("image/png"),
    url("../../assets/CarMainFull_2x.png") 2x type("image/png"),
    url("../../assets/CarMainFull_3x.png") 3x type("image/png")
  );
  background-image: image-set(
    url("../../assets/CarMainFull.webp") 1x type("image/webp"),
    url("../../assets/CarMainFull_2x.webp") 2x type("image/webp"),
    url("../../assets/CarMainFull_3x.webp") 3x type("image/webp"),
    url("../../assets/CarMainFull.png") 1x type("image/png"),
    url("../../assets/CarMainFull_2x.png") 2x type("image/png"),
    url("../../assets/CarMainFull_3x.png") 3x type("image/png")
  );
  background-position-x: right;
}
.pictureLeft {
  width: 30%;
  background-position-x: 95%;
}
.pictureRight {
  width: 55%;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  transform: skewX(-19deg);
  background-color: $bgColorPage;
  position: absolute;
  left: 20%;
  height: 100%;
  width: 32%;

  .title {
    font-family: $font;
    font-weight: 700;
    line-height: 100%;
    font-size: 2.5rem;
    background: linear-gradient(40deg, #ffff, #fbc201);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: skewX(19deg);
  }
  .subtitle {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-family: $font;
    font-weight: 500;
    font-style: Medium;
    font-size: 21px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    transform: skewX(19deg);
    width: 70%;
    background: linear-gradient(90deg, #ffffffbb, #fff6c3, #fbc201);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
