@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/mediaQuery" as *;
.page {
  background-color: $bgColorPage;
  height: 100vh;
}
.drivingContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;

  @include for-mobileS {
    height: 100%;
    width: 100%;
  }
  @include for-mobileM {
    height: 100%;
    width: 100%;
  }
  @include for-mobileL {
    height: 25%;
    width: 100%;
  }
  @include for-tablet {
    height: 243px;
    width: 100%;
  }
  @include for-laptop {
    height: 400px;
    width: 100%;
  }
  @include for-laptopL {
    height: 400px;
    width: 100%;
  }
  @include for-macBook16 {
    height: 400px;
    width: 100%;
  }
  @include for-desktop {
    width: 100%;
    height: 933px;
  }
}
.pictureLeft,
.pictureRight {
  height: 100%;
  background-image: -webkit-image-set(
    url("../../assets/CarMainFull.webp") 1x type("image/webp"),
    url("../../assets/CarMainFull_2x.webp") 2x type("image/webp"),
    url("../../assets/CarMainFull_3x.webp") 3x type("image/webp"),
    url("../../assets/CarMainFull.png") 1x type("image/png"),
    url("../../assets/CarMainFull_2x.png") 2x type("image/png"),
    url("../../assets/CarMainFull_3x.png") 3x type("image/png")
  );
  background-image: image-set(
    url("../../assets/CarMainFull.webp") 1x type("image/webp"),
    url("../../assets/CarMainFull_2x.webp") 2x type("image/webp"),
    url("../../assets/CarMainFull_3x.webp") 3x type("image/webp"),
    url("../../assets/CarMainFull.png") 1x type("image/png"),
    url("../../assets/CarMainFull_2x.png") 2x type("image/png"),
    url("../../assets/CarMainFull_3x.png") 3x type("image/png")
  );
  background-position-x: right;
  @include for-mobile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  @include for-tablet {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  @include for-laptop {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  @include for-laptopL {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  @include for-macBook16 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.pictureLeft {
  width: 30%;
  background-position-x: 95%;

  @include for-mobileL {
    background-position-x: 100%;
  }
  @include for-tablet {
    width: 30%;
    background-position-x: 100%;
  }
}
.pictureRight {
  width: 55%;

  @include for-mobileL {
    background-position-x: 100%;
  }
  @include for-tablet {
    background-position-x: 100%;
  }
  @include for-laptop {
    width: 70%;
    background-position-x: 100%;
  }
  @include for-laptopL {
    width: 58%;
  }
  @include for-macBook16 {
    width: 57%;
  }
  @include for-desktop {
    background-position-x: 100%;
  }
}
.contentContainer {
  display: flex;
  flex-direction: column;
  transform: skewX(-19deg);
  background-color: $bgColorPage;
  position: absolute;
  left: 20%;
  height: 100%;
  width: 28%;
  padding-top: 6%;
  padding-left: 5%;

  @include for-mobileM {
    left: 14%;
    width: 31%;
    padding-top: 3%;
    padding-left: 2%;
  }
  @include for-mobileL {
    left: 14%;
    width: 31%;
    padding-top: 3%;
    padding-left: 2%;
  }
  @include for-tablet {
    width: 31%;
    left: 18%;
    padding-top: 4%;
    padding-left: 3%;
  }
  @include for-laptop {
    width: 32%;
    padding-top: 3%;
    padding-left: 3%;
  }
  @include for-laptopL {
    left: 21%;
  }
  @include for-macBook16 {
    left: 21%;
  }
  .title {
    font-family: $font;
    font-weight: 700;
    line-height: 100%;
    font-size: 2.5rem;
    background: linear-gradient(40deg, #ffff, #fbc201);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: skewX(19deg);

    @include for-mobileM {
      font-size: 0.7rem;
    }
    @include for-mobileL {
      font-size: 0.7rem;
    }
    @include for-tablet {
      font-size: 1rem;
    }
    @include for-laptop {
      font-size: 1.3rem;
    }
    @include for-laptopL {
      font-size: 1.5rem;
    }
    @include for-macBook16 {
      font-size: 1.5rem;
    }
  }
  .subtitle {
    font-family: $font;
    font-weight: 500;
    font-style: Medium;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    transform: skewX(19deg);
    background: linear-gradient(90deg, #ffffffbb, #fff6c3, #fbc201);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include for-mobileM {
      font-size: 0.3rem;
      margin-top: 0.5rem;
      margin-left: 0.4rem;
    }
    @include for-mobileL {
      font-size: 0.3rem;
      margin-top: 0.5rem;
      margin-left: 0.4rem;
    }
    @include for-tablet {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      font-size: 9px;
    }
    @include for-laptop {
      font-size: 1.2rem;
      margin-top: 0.5rem;
      margin-left: 0.7rem;
      font-size: 12px;
    }

    @include for-laptopL {
      width: 100%;
      margin-top: 1rem;
      margin-left: 1rem;
      font-size: 15px;
    }
    @include for-desktop {
      width: 70%;
      margin-top: 1.5rem;
      margin-left: 1.5rem;
      font-size: 21px;
    }
    @include for-macBook16 {
      width: 95%;
      margin-top: 1rem;
      margin-left: 1rem;
      font-size: 15px;
    }
  }
}
.carPicture {
  object-fit: cover;
  position: absolute;
  z-index: 2;

  @include for-mobileL {
    right: 5%;
    bottom: -5%;
  }
  @include for-tablet {
    right: 3%;
    bottom: -4%;
  }
  @include for-laptop {
    right: 4%;
    bottom: -3%;
  }
  @include for-desktop {
    right: 3.8%;
    bottom: -3%;
  }
  @include for-laptopL {
    right: 2.7%;
    bottom: -4%;
  }
  @include for-macBook16 {
    right: 2.7%;
    bottom: -5%;
  }
  .carImage {
    transform: scale(1.1);

    @include for-mobileL {
      height: 200px;
      width: 326px;
    }
    @include for-tablet {
      width: 100%;
      height: 255px;
    }
    @include for-laptop {
      width: 100%;
      height: 418px;
    }
    @include for-laptopL {
      width: 100%;
      height: 425px;
    }
    @include for-macBook16 {
      width: 100%;
      height: 434px;
    }
    @include for-desktop {
      width: 1650px;
      height: 1000px;
    }
  }
}
